[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
crypt = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
Flask-WTF = "*"
WTForms = "*"
wtforms-validators = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
