<html>
    <head>
        <title>
            EXP Page
        </title>
        <style>
            .nav-right {
  float: right;
  width: 33.33%;
  padding: 15px;
}
    .nav-left {
  float: left;
  width: 33.33%;
  padding: 15px;
}
    .btn-right {
        float: right; 
    }
    #footer {
        clear: both;
    }
    #main-text {
        float: right;
        width: 50%;
    }
    #main-img {
        float: left;
    }
    

        </style>
    </head>
    <body>
        <div id="header">
            <div class="nav-left">
                <button >
               Home 
                </button>
                <button >
                Market
                </button>
            </div>
            <div class="nav-right">
                <button  class="btn-right">
                Login
                </button>
                <button class="btn-right">
                Signin
                </button>
            </div>
        </div>

        <div id="main-body">
            <img src="attar.jpeg" alt="Attar image" 
            width=300 height="300" id="main-img">  
            <div id="main-text"><h1>
                Attar Logo
                </h1>
                <p>
                Welcome to Attar logo .We are the best 
                attar selling site in the world
                </p>  
            </div>
        </div>

        <div id="footer">
            <div id="icons" class="nav-right">
            <img src="facebook.png" alt="f" 
                            width=30 height="30">
            <img src="gmail.png" alt="G" 
            width=30 height="30">               
            </div>

        </div>

    </body>
</html>